doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href=url('/css/main.css'))
    script(type='text/javascript')!= "window.addload=function(func){if(window.addEventListener){window.addEventListener('load', func)}else{window.attachEvent('onload', func)}}"
    script(type='text/javascript', src=url('/js/invertcolor.js'))
    script(type='text/javascript', src=url('/js/svg-pan-zoom.js'))
    script(type='text/javascript', src=url('/js/svg.js'))
    script(type='text/javascript', src=url('/js/factions.js'))
    script(type='text/javascript', src=url('/js/icons.js'))
    script(type='text/javascript', src=url('/js/zones.js'))
  body
    div#container
      div.bar
      div#map!= svg
      script(type='text/javascript', src=url('/js/initializesvg.js'))
      script(type='text/javascript', src=url('/js/populateicons.js'))
      div#click
      div#hover
      div#blurb
        div.bar
        div#blurbContent
          //- span.blurbTitle Name: 
          //- span.blurbText#blurbName
          //- br/
          //- span.blurbTitle Owner: 
          //- span.blurbText#blurbOwner
          //- br/
          //- span.blurbTitle Information: 
          //- br/
          //- span.blurbSubtitle Zone: 
          //- span.blurbText#blurbZoneBlurb
          //- br/
          //- span.blurbSubtitle Owner: 
          //- span.blurbText#blurbFactionBlurb
          //- br/
          span.blurbTitle Zone:
          br/
          span.blurbSubtitle Name: 
          span.blurbText#blurbName
          br/
          span.blurbSubtitle Details: 
          span.blurbText#blurbZoneBlurb
          br/
          br/
          span.blurbTitle Faction:
          br/
          span.blurbSubtitle Name: 
          span.blurbText#blurbOwner
          br/
          span.blurbSubtitle Details: 
          span.blurbText#blurbFactionBlurb
          br/
      div#long
        div.bar
        div#longContent
          //- span.longTitle Name: 
          //- span.longText#longName
          //- br/
          //- span.longTitle Owner: 
          //- span.longText#longOwner
          //- br/
          //- span.longTitle Information: 
          //- br/
          //- span.longSubtitle Zone: 
          //- span.longText#longZoneLong
          //- br/
          //- span.longSubtitle Owner: 
          //- span.longText#longFactionLong
          //- br/
          span.longTitle Zone:
          br/
          span.longSubtitle Name: 
          span.longText#longName
          br/
          span.longSubtitle Details: 
          span.longText#longZoneLong
          br/
          br/
          span.longTitle Faction:
          br/
          span.longSubtitle Name: 
          span.longText#longOwner
          br/
          span.longSubtitle Details: 
          span.longText#longFactionLong
          br/